.footer {
    background-color: #0d1b2a;
    color:white;
    padding: 30px 0;
    text-align: center;
  }
  
  .footerContainer {
    max-width: 1200px;
    margin: 0 auto;
    font-size: 14px;
  }
  
  .footerLinks a {
    color: #0d1b2a;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .footerLinks a:hover {
    color: #1b263b;
  }
  
  p {
    margin: 10px 0;
    font-size: 16px;
  }
  
  .footer a {
    font-weight: bold;
    font-size: 14px;
  }
  